@tailwind base;
@tailwind components;
@tailwind utilities;

/* BROWSER STYLES */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(160, 179, 200, 0.5);
  height: 10%;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a0b3c8;
}

::-webkit-scrollbar-track {
  background-color: rgba(20, 22, 23, 0.8);
}

::selection {
  color: #1d232a;
  background-color: #a0b3c8;
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

/* COMMON STYLES */
.wrapper {
  @apply container mx-auto  md:px-0;
}

.section-padding {
  @apply py-10 mx-5 md:py-10;
}

div[data-dnd-draggable] {
  border: 2px solid #c8c8c8;
}
